html {
    background-color: rgb(53, 51, 51);
    color: lightsteelblue;
}

footer {
    text-align: center;
    padding: 0.1em;
    /*background-color: rgb(40, 38, 38);*/
    color: lightsteelblue;
    position: fixed;
    width: 100%;
    bottom: 0;
    margin-bottom: 0;
}

main {
    position: relative;
    text-align: center;
    padding: 1rem;
}
