html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    background-color: blue;
    position: fixed;
    justify-content: space-evenly;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
}

nav ul {
    list-style: none;
    text-align: left;
    float: left;
    border: 2px solid white;
    background-color: wheat;
}

nav a {
    color: red
}

main {
    text-align: center;
    padding: 1rem
}

/*--#main-section {
    display: flex;
    justify-content: space-evenly;
    padding: 2px;
    border: 5px solid white;
    color: white;
}*/

button {
    border-radius: 3.5rem;
    background-color: lightblue;
    width: 145px;
    height: 50px;
    text-wrap: true;
    text-align: center;
    color: black;
    border: 5px solid black;
}

button:hover {
    background-color: cyan;
    width: 160px;
    height: 60px;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: rgb(32, 30, 30);
    color: lightsteelblue;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 0;
    z-index: -1;
}